.solSutun{
    
    float: left;
    padding-left: 350px;
    padding-top: 30px;
}
.sagSutun{
    float: right;
    padding-top: 30px;
    padding-right: 350px;
}
.gonderButonu{
    float: right;
    padding-top: 30px;
}
.gonderButonu button{
    display: inline-block;
    background: #ff523b;
    color:black;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}